

.col-sm-4{

width: 25%;
	;}

.coachingColumn{

width: 400px;
	;}
.col-sm-8{

width: 70%;
}

.row{

	margin: 0px;
}

#scroller{
	padding-left: 0px;
}

.viewSpot{

	width:22vw;
	min-width: 332px;
	overflow: scroll;
	z-index: 0;
	max-height: 564px;
    box-shadow: 1px 1px 5px grey;   

}


.viewSpotActive{

		box-shadow: 4px 7px 22px #687AAE;

}

#coachingArea{

	opacity: 1;
	    box-shadow: 1px 1px 5px grey;   

}

.navigationButtons{

	text-align: center;
}

body{

}

.coachingColumn{

	padding-left: 0px;
	margin-top:10px;

}

